<% provide(:title, "Contact") %>
<div class="center jumbotron cnt_box">
  <h1 class="cnt_title" style="color: #FFF">Contact CryptoDeck</h1>

  <h2 class="cnt_text">
    If you have any questions, comments, concerns about <strong>CryptoDeck</strong>, please contact the developer by;<br/>
    <br/>
    * <i><u><b>Email:</b></u></i> <%= link_to 'C3lt1cViking@Tuta.Io', 'mailto:c3lt1cviking@tuta.io', id: 'cnt_link' %><br/>
    * <i><u><b>Twitter:</b></u></i> <%= link_to '@C3lt1cViking', 'https://twitter.com/C3lt1cViking', target: '_blank', id: 'cnt_link' %><br/>
    * <i><u><b>GitHub:</b></u></i> <%= link_to '@C3lt1c-Viking', 'https://github.com/C3lt1c-Viking', target: '_blank', id: 'cnt_link' %><br/>
  </h2>

</div>
