<% provide(:title, "Donate") %>
<div class="center jumbotron donate_box">
  <h1 class="donate_title" style="color: #FFF">Donate to CryptoDeck</h1>

  <h2 class="donate_text">
    The mission for <strong>CryptoDeck</strong> is to provide a safe and secured online social media experience.
    We have resolved everyone's privacy matters by not tracking our users. We are not influenced by any political
    campaigns or agendas. And ad limitations to give our end-users the best social media experience. <br/>
    Even More!<br/>
    <br/>
    We are also working on making this the very first blockchain driven platform ever! By allowing users to;<br/>
    * Mine Cryptocurrencies while on our platform!<br/>
    * Send/Recieve Digital Assets!<br/>
    * NFT Marketplace!<br/>
    <br/>
    With the unlimited possibilities of CryptoDeck, we are excited to see what the future will bring for us. However,
    we do need some financial assistance! Here is what it takes to build this amazing platform;<br/>
    * Developer Pay ~ $35/Hourly x 4 Programmers x 40 Hours Per Week = $5,600 Weekly.<br/>
    * Hosting Services ~ $250 Monthly.<br/>
    * Equipment Costs ~ $8,950<br/>
    <br/>
    And we are just touching the tip of the ice-berg here. We will also need to be spending funds on advertising &amp; marketing!<br/>
    If you would like to make a contribution to our financial aid, please use the following methods;<br/>
    <br/>
    * <strong>Bitcoin Donations:</strong><br/>
    <i><u>34S7RQAX9kGqdGdpaym7hmdC4C2aouv8gz</u></i><br/>
    * <strong>Dogecoin Donations:</strong><br/>
    <i><u>DCAhwJiqgjsXMRgRTpwzAQW4QdWd3VGpib</u></i><br/>
    * <strong>Ethereum Donations:</strong><br/>
    <i><u>0xf914c7bfA916177A433e6D7d2DA3722C29b403Ce</u></i><br/>
    <br/>
    <div>
      <%= link_to "Donation with Crypto", "https://commerce.coinbase.com/checkout/2ee658b5-1f6e-4bbf-88bc-be7b7a102ea7", target: '_blank', class: 'btn btn-lg btn-success' %>
      <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807"></script>
    </div><br/>
    
    Need a good Cryptowallet? Use our referral link code &amp; register for <%= link_to 'Coinbase', 'https://www.coinbase.com/join/VFTNE1', target: '_blank' %>!
  </h2>

</div>
