<% provide(:title, "NFT") %>
<div class="center jumbotron cnt_box">
  <h1 class="cnt_title" style="color: #FFF">NFT's of CryptoDeck</h1>

  <h2 class="cnt_text">
    Landing page for NFT Marketplace! Stay tuned for updates!
  </h2>

</div>
