.chat_box
{
  background-color: rgba(210,215,211,0.8);
  border: 5px solid gold;
  box-shadow: 15px 15px 18px #C0C0C0;
}

.hme_box
{
  background-color: rgba(0,0,0,0.8);
  box-shadow: 15px 15px 18px #00F;
  border: 5px solid #0F0;
  margin-top: 10px;
}

.donate_box
{
  background-color: rgba(0,0,0,0.8);
  box-shadow: 15px 15px 18px #00F;
  border: 5px solid #0F0;
  margin-top: 10px;
}

.abt_box
{
  background-color: rgba(0,0,0,0.8);
  box-shadow: 15px 15px 18px #00F;
  border: 5px solid #0F0;
  margin-top: 10px;
}

.cnt_box
{
  background-color: rgba(0,0,0,0.8);
  box-shadow: 15px 15px 18px #00F;
  border: 5px solid #0F0;
  margin-top: 10px;
}

.nav_gui
{
  background-color: rgba(0,0,0,0.8);
  border: 2px solid #0F0;
}

.usr_box
{
  background-color: rgba(255,255,255,0.8);
  box-shadow: 15px 15px 18px #00F;
  border: 5px solid #0F0;
  margin-top: 60px;
  padding: 15px;
}

.usr_inp
{
  border: 2px double #0F0;
  background-color: #000;
  color: #0F0;
  padding: 8px;
  font-family: 'Black Ops One', cursive;
}
