.chat_box
{
  background-color: rgba(210,215,211,0.8);
  border: 5px solid gold;
  box-shadow: 15px 15px 18px #C0C0C0;
}

.hme_box
{
  background-color: rgba(0,0,0,0.8);
  box-shadow: 15px 15px 18px #00F;
  border: 5px solid #0F0;
  margin-top: 10px;
}

.donate_box
{
  background-color: rgba(0,0,0,0.8);
  box-shadow: 15px 15px 18px #00F;
  border: 5px solid #0F0;
  margin-top: 10px;
}

.abt_box
{
  background-color: rgba(255,255,255,0.8);
  box-shadow: 15px 15px 18px #000;
  border: 5px solid #0F0;
  margin-top: 30px;
}

.cnt_box
{
  background-color: rgba(0,0,0,0.8);
  box-shadow: 15px 15px 18px #00F;
  border: 5px solid #0F0;
  margin-top: 30px;
}

.nav_gui
{
  background-color: rgba(0,0,0,0.8);
  border: 2px solid #0F0;
}

#usr_box
{
  background-color: rgba(255,255,255,0.8);
  box-shadow: 20px 20px 18px #000;
  border: 3px solid #00F;
  margin-top: 60px;
  padding: 15px;
}

#usr_inp
{
  border: 2px double #0F0;
  background-color: #000;
  color: #0F0;
  padding: 8px;
  font-size: 10px;
  font-family: 'Audiowide', cursive;
}
#dec_editor_banner
{
  font-family: 'Source Code Pro', monospace;
  font-size: 50px;
  color: #FFF;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00F;
  text-shadow: 10px 10px 10px #000;
}
